extends layout.pug

block content
    div#centerportfolio.container
        .card.border-0.shadow(style="width:600px;text-align:center;margin-bottom:50px")
            .card-body.p-4
                h1.card-title Habilidades
                div 
                    p HTML, CSS, JavaScript, ReactJS, VueJS
                    p Trello, Asana, Slack, Microsoft Teams
                    p Git, GitHub
                    p PHP, Node.js (conocimiento básico)
                    p MySQL, MongoDB (conocimiento básico)  

    div#centerportfolio.container
        .card.border-0.shadow
            .card-body.p-4
                .row
                    #spacecontent.col-md-6
                        h3 Página web de un restaurante
                        h3 Aplicación de gestión de tareas
                        h3 Página web personal
                    .col-md-6
                        p Demostré habilidad para crear una página web atractiva y funcional utilizando HTML, CSS y JavaScript, junto con ReactJS. También trabajé en equipo utilizando Slack y Microsoft Teams, y mantuve un control riguroso de versiones utilizando Git y GitHub.
                        p Demostré habilidad para crear una aplicación de gestión de tareas personalizada utilizando HTML, CSS y JavaScript, junto con VueJS. También trabajé con PHP y MySQL, y utilicé herramientas de gestión de tareas como Trello y Asana. Mantuve un control riguroso de versiones utilizando Git y GitHub.
                        p Demostré habilidad para crear una página web personal impresionante utilizando HTML, CSS y JavaScript, junto con ReactJS. También trabajé en equipo utilizando Slack y Microsoft Teams, y mantuve un control riguroso de versiones utilizando Git y GitHub.

