extends layout.pug 

block content 
    div#centerportfolio.container
        div.row
            div.col-md-4(style="width:400px; height:300px")
                img(src="/images/javier_huaman.jpg" alt="your-alt-text-here" style="width:350px; height:250px; border-radius: 10px")
            div.col-md-8
                h1 Javier Huaman
                p Soy un desarrollador web apasionado y en constante evolución, con dos años de experiencia en la creación de proyectos digitales de alta calidad. Mi enfoque en el diseño moderno y la atención al detalle me ha permitido crear soluciones digitales excepcionales para mis clientes, y estoy comprometido a aprender nuevas tecnologías y técnicas para seguir mejorando mis habilidades.
        div.col-md-12.my-4
            h3 Mi desarrollo como profesional
            p Como profesional, me esfuerzo por mantenerme actualizado en las últimas tendencias y tecnologías de desarrollo web. Me encanta aprender nuevas habilidades y técnicas para mejorar mis proyectos y brindar soluciones digitales de alta calidad a mis clientes. Estoy comprometido a seguir creciendo como desarrollador web y aportar valor a cualquier proyecto en el que participe.

            